[user]
    name = Michael Wales
    email = webmaster@michaelwales.com

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[color]
    ui = true

[color "diff"]
  meta = "11"
  commit = "yellow bold"
  frag = "magenta bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
